<%= button_to "Create a New User", new_user_path, method: :get %>
<br>
<div id="user-list">
  <table class='center'>
    <% if current_user %>
      <tr><th>Existing Users:</th></tr>
      <% @users.each do |user| %>
      <tr><td class="user-dash-link">
        <%= user.email %>
      </td></tr>
      <% end %>
    <% else %>
    <% end %>
  </table>
</div>